@import "@/global/common.scss";

.filter {
    @include flex(row, flex-end, center);
    background-color: #FFFFFF;
}

.filter-item {
    @include flex(row, center, center);
    width: 162px;
    height: 84px;
}

.filter-item-txt {
    @include font(26px, #999999);
}

.filter-item-txt-active {
    @include font(26px, #F23030);
}

.select-icon {
    width: 15px;
    height: 19px;
    margin-left: 10px;
}
