$badgeHeight: 32px;
$badgeWidth: 81px;

@mixin flex($direction: row, $rowAlign: flex-start, $colAlign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $rowAlign;
    align-items: $colAlign;
}

@mixin font($fontSize: 24px, $color: #000, $fontFamily: 'PingFangSC-Light') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
    line-height: $fontSize;
}

.grid-item {
    width: 250px;
    height: 160px;

    &-icon {
        &-wrapper {
            margin-top: 20px;
            @include flex(row, center, center);
        }

        &-img {
            width: 80px;
            height: 80px;
        }
    }

    &-content {
        margin-top: 10px;
        @include flex(row, center, center);
        &-text {
            @include font(24px, #666666, 'PingFangSC-Regular');
            /*  #ifdef  rn  */
            line-height: 30px;
            /*  #endif  */
        }
    }

    &-gradient {
        width: $badgeWidth;
        height: $badgeHeight;
        border-radius: $badgeHeight / 2;
        @include flex(row, center, center);

        /*  #ifndef  rn  */
        background-image: linear-gradient(270deg, #F96E70 0%, #ED5458 100%);
        /*  #endif  */
        &-text {
            @include font(20px, #fff, 'PingFangSC-Medium');
            /*  #ifdef  rn  */
            line-height: 26px;
            /*  #endif  */
        }
    }

    &-badge-text {
        top: -9px !important;
        right: -45px !important;
        &-rn {
            top: -9px;
            right: -45px;
        }
    }

    
}
