@import '../../../global/common.scss';

.explosive {
    padding: 30px;

    

    &-subcard {

        &-container {
            @include flex(row, space-between, center);
            margin-top: 38px;
        }

        &-left {
            // background-color: #BDC4EF !important;
        }
        &-right {
            // background-color: #EB7E7D  !important;
        }

        &-sub-container {
            margin-top: 16px;
            @include flex(row, space-between, center);
        }
    }
}