@mixin flex($direction: row, $rowAlign: flex-start, $colAlign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $rowAlign;
    align-items: $colAlign;
}

@mixin font($fontSize: 24px, $color: #000, $fontFamily: 'PingFangSC-Light') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
    // line-height: $fontSize;
}

@mixin padding($top:0, $right: 0, $bottom: 0, $left: 0) {
    padding-left: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.explosive {
    padding: 30px;

    

    &-subcard {

        &-container {
            @include flex(row, space-between, center);
            margin-top: 38px;
        }

        &-left {
            // background-color: #BDC4EF !important;
        }
        &-right {
            // background-color: #EB7E7D  !important;
        }

        &-sub-container {
            margin-top: 16px;
            @include flex(row, space-between, center);
        }
    }
}