@import "@/global/common.scss";

.accordion {}

.accordion-header {
    @include flex(row, center, center);
    width: 162px;
    height: 104px;
    background-color: #FFFFFF;
}

.accordion-header-txt {
    @include font(26px, #444444, 'PingFangSC-Medium');
    font-weight: 700;
}

.accordion-header-icon {
    margin-left: 10px;
    width: 15px;
    height: 9px;
}

.accordion-item {
    @include flex(row, flex-start, center);
    height: 84px;
    background-color: #F8F8F8;
}

.accordion-item-icon {
    width: 4px;
    height: 24px;
}

.accordion-item-icon-active {
    width: 4px;
    height: 24px;
    background-color: #F23030;
    border-radius: 2px;
}

.accordion-item-txt {
    @include font(24px, #333840);
    margin-left: 22px;
}

.accordion-item-txt-active {
    @include font(24px, #F23030);
    margin-left: 22px;
}