@mixin flex($direction: row, $rowAlign: flex-start, $colAlign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $rowAlign;
    align-items: $colAlign;
}

@mixin font($fontSize: 24px, $color: #000, $fontFamily: 'PingFangSC-Light') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
    // line-height: $fontSize;
}

@mixin container($width, $height, $borderRadius: 0) {
    width: $width;
    height: $height;
    border-radius: $borderRadius;
}

$rowHeight: 88px;

.search-select {
    padding: 0 30px;
    &-good {
        height: $rowHeight;
        @include flex(row, space-between, center);
        &-price {
            @include flex(row, flex-start, center);
            &-icon {
                margin-left: 10px;
                @include flex(column, flex-start, center);
                &-high {
                    @include flex(row, center, flex-end);
                    &-img {
                        @include container(16px, 8px);
                    }
                }

                &-low {
                    @include flex(row, center, flex-start);
                    margin-top: 6px;
                    &-img {
                        @include container(16px, 8px);
                    }
                }
            }
        }
    }

    &-text-common {
        @include font(28px, #333840, 'PingFangSC-Regular');
    }
}