@import "@/global/common.scss";

.popup-con {
}

.popup-head {
    @include flex(row, center, center);
    height: 54px;
    margin-bottom: 10px;
}

.popup-head-left {
    @include flex(row, center, center);
    flex: 1;
    height: 100%;
}

.popup-head-center {
    @include flex(row, center, center);
    height: 100%;
    flex: 1;
}

.popup-head-right {
    @include flex(row, flex-end, center);
    height: 100%;
    flex: 1;
}

.popup-head-title {
    @include font(32px, #444444);
    line-height: 54px;
    font-weight: 700;
}

.popup-head-right-con {
    width: 54px;
    height: 54px;
}

.popup-head-right-icon {
    width: 54px;
    height: 54px;
}

.popup-body {
   margin-bottom: 33px;
   height: 360px;
}

.popup-list-item {
    @include flex(row, center, center);
    height: 91px;
    border-bottom-width: 1px;
    border-bottom-color:  #EEEEEE;
}

.popup-list-name {
    @include flex(row, flex-start, center);
    padding-left: 37px;
    flex:1;
    height: 100%;
}

.popup-list-name-txt {
    @include font(28px, #444444);
    font-weight: 700;
    line-height: 36px;
}

.popup-list-phone {
    @include flex(row, center, center);
    flex:2;
    height: 100%;
}

.popup-list-phone-txt {
    @include font(28px, #6F6F6F);
}

.popup-list-type {
    @include flex(row, flex-start, center);
    flex:1;
    height: 100%;
}

.popup-list-type-txt {
    @include font(28px, #6F6F6F);
}

.popup-list-btn {
    @include flex(row, center, center);
    flex:1;
    height: 100%;
}

.popup-list-btn-con {
    width: 32px;
    height: 32px;
}

.popup-list-btn-icon {
    width: 32px;
    height: 32px;
}