@mixin flex($direction: row, $rowAlign: flex-start, $colAlign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $rowAlign;
    align-items: $colAlign;
}

@mixin font($fontSize: 24px, $color: #000, $fontFamily: 'PingFangSC-Light') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
    // line-height: $fontSize;
}

@mixin container($width, $height, $borderRadius: 0) {
    width: $width;
    height: $height;
    border-radius: $borderRadius;
}

.search {

    &-list {
        &-header {
            @include flex(row, flex-start, center);
            height: 88px;
    
            &-back {
                @include flex(row, flex-start, center);
                padding: 0 48px 0 30px;
                &-icon {
                    @include container(17px, 34px)
                }
            }
    
            &-btn {
                @include flex(row, center, center);
                padding-left: 30px;
                &-text {
                    @include font(28px, #5F5F6B, 'PingFangSC-Regular');
                }
            }
        }

        &-body {
            padding-left: 30px;
        }
    }
    
    &-history {
        @include flex(row, flex-start , center);
        flex-wrap: wrap;
        padding-left: 30px;

        &-header {
            @include flex(row, flex-start, center);
            padding: 10px 30px;
            margin-top: 41px;
            &-text {
                @include font(32px, #333840, 'PingFangSC-Semibold');
                flex: 1;
            }
            &-img {
                width: 32px;                
                height: 32px;
            }
        }

        &-tail {
            @include flex(row, center, center);
            padding: 30px 0 0 0;
            &-text {
                @include font(24px, #5F5F6B, 'PingFangSC-Semibold');
                margin-right: 10px;
            }
            &-img {
                @include container(14px, 8px );
            }
        }
    }

}