@mixin flex($direction: row, $rowAlign: flex-start, $colAlign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $rowAlign;
    align-items: $colAlign;
}

@mixin font($fontSize: 24px, $color: #000, $fontFamily: 'PingFangSC-Light') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
    // line-height: $fontSize;
}

@mixin padding($top:0, $right: 0, $bottom: 0, $left: 0) {
    padding-left: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.subcard {
    width: 160px;
    height: 260px;
    background-color: #F7F8FB;
    border-radius: 16px;
    @include flex(column, flex-start, center );
    

    &-title {
        &-container {
            margin-top: 30px;
            @include flex(row, center, center);
        }

        &-txt {
            @include font(28px, #333840, 'PingFangSC-Semibold');
            /*  #ifndef  rn */
            line-height: 28px;
            /*  #endif  */

        }
    }

    &-desc {
        &-container {
            margin-top: 12px;
            @include flex(row, center, center);
        }

        &-txt {
            @include font(22px, #989CA5, 'PingFangSC-Regular');
            /*  #ifndef  rn */
            line-height: 22px;
            /*  #endif  */

            /*  #ifdef  rn  */
            // margin-top: -16px;
            /*  #endif  */
        }
    }

    &-footer {
        margin-top: 34px;
        @include flex(row, center, flex-start);
        &-image {
            width: 72px;
            height: 110px;
        }
    }
}