.container {
    flex-direction: column;
    width: 100%;
}

.list {
    flex-direction: column;
    display: flex;
    width: 100%;
    background-color: #F8F8F8;
}

.list-item-box {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.list-item {
    background-color: #FFFFFF;
    padding: 30px;
    display: flex;
    flex-direction: row;
    height: 300px;
    border-radius: 8px;
}

.item-image {
    width: 150px;
    height: 100px;
    margin-right: 30px;
}

.item-title-box {
    margin-bottom: 10px;
}

.item-title {
    font-size: 36px;
    color: #444444;
}

.item-dec {
    font-size: 24px;
    color: #888888
}

.swipe-action {
    height: 200px;
    background-color: #eeeeee;
}
