@import "@/global/common.scss";

.order-detail {
    &-total {
        height: 271px;
        background-color: #F23030;
        
        &-desc {
            margin-top: 28px;
            @include flex(row, center, center);
            &-text {
                @include font(26px, #FFFFFF, 'PingFangSC-Regular');
            }
        }

        &-amount {
            @include flex(row, center, center);
            margin-top: 19px;
            &-text {
                @include font(60px, #FFFFFF, 'Helvetica-Bold');
            }
        }

        &-order {
            @include flex(row, center, center);
            margin-top: 25px;
            &-img {
                width: 28px;
                height: 28px;
            }
            
            &-text {
                @include font(26px, #FFFFFF, 'PingFangSC-Regular');
                margin-left: 8px;
            }
        }
    }

    &-shop {
        border-radius: 12px 12px 0 0;
        height: 1024px;
        margin-top: -30px;
        z-index: 1;

        &-head {
            margin-top: 40px;
            @include flex(row, flex-start, center);
            &-icon {
                width: 31px;
                height: 29px;
            }
        }
    }
}