@import "@/global/common.scss";

.container {
    display: flex;
    height: 100%;
    background-color: #F8F8F8;
}

.tag-head-right {
    @include flex(row, flex-end, center);
    flex: 1;
    height: 100%;
    
}

.head-right-btn-con {
    @include flex(row, flex-end, center);
    width: 120px;
    height: 88px;
    padding-right: 27px;
}

.head-right-btn {
    width: 38px;
    height: 38px;
}

.tag-banner-bg {
    height: 160px;
    background-color: #F23030;
}
.card-base {
    @include flex(row, center, center);
    height: 230px;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin-left: 27px;
    margin-right: 27px;
    margin-top: -115px;
}
.card-base-item {
    @include flex(column, center, center);
    flex: 1;
}

.card-base-item-label{
    @include font(28px, #262626);
    
}

.card-base-item-value {
    @include font(36px, #444444);
    font-weight: 700;
    margin-top: 20px;
    line-height: 50px;
}

.card-base-item-value1 {
    @include font(36px, #8C8C8C);
    font-weight: 700;
    margin-top: 20px;
    line-height: 50px;
}

.tag-divide-line {
    width: 2px;
    height: 58px;
    background-color: #EEEEEE;
}

.card-operation {
    margin-bottom: 20px;
    padding-left: 27px;
    background-color: #FFFFFF;
}



// model
.tag-model {
    padding: 28px;
    height: 1000px;
}

.tag-model-close {
    @include flex(row, flex-end, center);
}
.tag-close-icon-con {
    @include flex(row, center, center);
    margin-top: -20px;
    margin-right: -20px;
    width: 40px;
    height: 40px;
}

.tag-close-icon {
    width: 20px;
    height: 20px;
}

.model-body-list-item {
    margin-bottom: 30px;
}

.model-head{
    @include flex(column, center, center);
    height: 190px;
}

.model-head-icon{
    width: 160px;
    height: 126px;
    margin-bottom: 10px;
}

.model-head-title{
    @include font(30px, #444444);
    line-height: 50px;
    font-weight: 700;
}

.model-body{
   padding: 20px;
   height: auto;
}

.model-body-title{
    @include flex(row, flex-start, center);
    margin-bottom: 4px;
}
.model-body-title-icon{
    width: 12px;
    height: 12px;
    margin-right: 14px;
}
.model-body-title-txt{
    @include font(26px, #2B2D2D);
    font-weight: 700;
}

.model-body-des{
    @include font(18px, #666666);
    margin-left: 26px;
}

.list-item-value-con {
    @include flex(row, flex-start, center);
}

.list-item-value-txt {
    @include font(28px, #444444);
}

.list-item-value-desc {
    @include font(28px, #979797);
}