@mixin flex($direction: row, $rowAlign: flex-start, $colAlign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $rowAlign;
    align-items: $colAlign;
}

@mixin font($fontSize: 24px, $color: #000, $fontFamily: 'PingFangSC-Light') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
    line-height: $fontSize;
}

.order-state {
    @include flex(column, center, center);

    &-image {
        width: 44px;
        height: 48px;
    }

    &-content {
        height: 24px;
        margin-top: 16px;
        @include flex(row, flex-start, center);
        &-text {
            @include font(24px, #666666, 'PingFangSC-Regular');
            /*  #ifdef  rn  */
            line-height: 30px;
            /*  #endif  */
        }
    }
}