$badgeDiam: 32px;

@mixin flex($direction: row, $rowAlign: flex-start, $colAlign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $rowAlign;
    align-items: $colAlign;
}

@mixin font($fontSize: 24px, $color: #000, $fontFamily: 'PingFangSC-Light') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
    line-height: $fontSize;
}

.order-state {
    @include flex(column, center, center);

    &-image {
        width: 44px;
        height: 48px;
    }

    &-content {
        height: 24px;
        margin-top: 16px;
        @include flex(row, flex-start, center);
        &-text {
            @include font(24px, #666666, 'PingFangSC-Regular');
            /*  #ifdef  rn  */
            line-height: 30px;
            /*  #endif  */
        }
    }

    &-badge {
        width: $badgeDiam;
        height: $badgeDiam;
        border-radius: $badgeDiam / 2;
        @include flex(row, center, center);
        /*  #ifndef  rn */
        background-image: linear-gradient(270deg, #F96E70 0%, #ED5458 100%);
        /*  #endif  */
        &-text {
            @include font(20px, #fff, 'PingFangSC-Medium');
            /*  #ifdef  rn  */
            line-height: 26px;
            /*  #endif  */
        }
    }

    &-gradient {
        width: $badgeDiam;
        height: $badgeDiam;
        border-radius: $badgeDiam / 2;
        @include flex(row, center, center);
        /*  #ifndef  rn  */
        background-image: linear-gradient(270deg, #F96E70 0%, #ED5458 100%);
        /*  #endif  */
        &-text {
            @include font(20px, #fff, 'PingFangSC-Medium');
            /*  #ifdef  rn  */
            line-height: 26px;
            /*  #endif  */
        }
    }
}