@import "@/global/common.scss";
.order-detail {
    display: flex;
    height: 100%;
    background-color: #F8F8F8;

    &-top {
        height: 241px;
        background-color: #F23030;
    }
}