@mixin flex($direction: row, $rowAlign: flex-start, $colAlign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $rowAlign;
    align-items: $colAlign;
}

@mixin font($fontSize: 24px, $color: #000, $fontFamily: 'PingFangSC-Light') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
    // line-height: $fontSize;
}

@mixin container($width, $height, $borderRadius: 0) {
    width: $width;
    height: $height;
    border-radius: $borderRadius;
}

.condition-pre {
    &-header {
        @include flex(row, flex-start, center);
        &-text {
            flex: 1;
            @include font(32px, #333840, 'PingFangSC-Semibold');
        }

        &-icon {
            width: 40px;
            height: 100%;
            @include flex(row, flex-end, center);
            &-img {
                width: 18px;
                height: 8px;
            }
        }
    }
}