@import "@/global/common.scss";
.list-item {
    @include flex(row, center, center);
    height: 124px;
    border-bottom-width: 1px;
    border-bottom-color: #EEEEEE;
}

.list-item-lable {
    @include flex(row, flex-start, center);
    width: 223px;
}

.list-item-value {
    @include flex(row, flex-start, center);
    flex: 1;
}

.list-item-lable-txt {
    @include font(28px, #999999);
}

.list-item-value-txt {
    @include font(28px, #444444);
}