@import "@/global/common.scss";

.filter-drawer {
    // @include flex(row, flex-end, center);
    flex:1;
    background-color: #FFFFFF;
}

.back-con {
    @include flex(row, flex-start, center);
    flex: 1;
    height: 100%;
}

.back-btn-con {
    @include flex(row, flex-start, center);
    width: 120px;
    height: 88px;
    padding-left: 20px;
    background-color: transparent;
}

.back-btn {
    @include flex(row, flex-start, center);
    flex: 1;
}

.back-img {
    width: 34px;
    height: 34px;
}