@import "@/global/common.scss";
.container {
    display: flex;
    height: 100%;
    background-color: #F8F8F8;
}

.container-no-bg {
    display: flex;
    height: 100%;
    z-index: 100;
    margin-top: -160px;
}

.no-bg-gap {
    height: 100px;
}

.customer-head-right {
    @include flex(row, flex-end, center);
    flex: 1;
    height: 100%;
}

.head-right-btn-con {
    @include flex(row, flex-end, center);
    width: 120px;
    height: 88px;
    padding-right: 30px;
    background-color: transparent;
}

.head-right-btn {
    width: 44px;
    height: 6px;
}