@mixin flex($direction: row, $rowAlign: flex-start, $colAlign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $rowAlign;
    align-items: $colAlign;
}

@mixin font($fontSize: 24px, $color: #000, $fontFamily: 'PingFangSC-Light') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
    // line-height: $fontSize;
}

@mixin container($width, $height, $borderRadius: 0) {
    width: $width;
    height: $height;
    border-radius: $borderRadius;
}

$hotWidth: 32px;

.search-item {

    padding: 0 30px;
    border-radius: 32px;
    height: 64px;
    background-color: #F4F6FB;
    @include flex(row, flex-start, center);
    margin: 20px 20px 0 0;

    &-hot {
        width: $hotWidth;
        height: $hotWidth;
        border-radius: 10px;
        margin-left: 10px;
        @include flex(row, center, center);
        /*  #ifndef  rn  */
        background-image: linear-gradient(180deg, #F78D91 0%, #ED5458 100%);
        /*  #endif  */

        &-text {
            @include font(20px, #fff, 'PingFangSC-Regular');
        }
    }

    &-text {
        @include font(28px, #333840, 'PingFangSC-Regular');
    }
}