@mixin flex($direction: row, $rowAlign: flex-start, $colAlign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $rowAlign;
    align-items: $colAlign;
}

@mixin font($fontSize: 24px, $color: #000, $fontFamily: 'PingFangSC-Light') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
    // line-height: $fontSize;
}

@mixin container($width, $height, $borderRadius: 0) {
    width: $width;
    height: $height;
    border-radius: $borderRadius;
}

.goods-list {
    height: 100%;
    &-header {
        padding: 0 30px;
        @include flex(row, flex-start, center);
        height: 64px;
        &-back {
            @include flex(row, flex-start, center);
            padding: 0 48px 0 30px;
            &-icon {
                @include container(17px, 34px);
            }
        }
    }

    &-select {
        padding: 0 30px;
    }

    &-sidebar {
        background-color: #F4F6FB;
        height: 100%;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
    }

}