.header-con {
    height: 88px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #F23030;
}

.back-con {
    display: flex;
    flex:1;
}

.back-btn {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: flex-start;
}

.back-img {
    margin-left: 20px;
    width: 52px;
    height: 52px;
}

.title-con {
    display: flex;
    flex:1;
}

.title-txt {
    color: #FFFFFF;
    line-height: 88px;
    text-align: center;
    font-size: 32px;
}

.handle-con {
    display: flex;
    flex:1;
}

.handle-btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex:1;
}

.handle-img {
    margin-right: 20px;
    width: 52px;
    height: 52px;
}




