@import "@/global/common.scss";

.header-con {
    @include flex(row, center, center);
    height: 88px;
    width: 100%;
    background-color: #F23030;
}

.header-con-noBgColor {
    @include flex(row, center, center);
    height: 88px;
    width: 100%;
}

.back-con {
    @include flex(row, flex-start, center);
    flex: 1;
    height: 100%;
}

.back-btn-con {
    @include flex(row, flex-start, center);
    width: 120px;
    height: 88px;
    padding-left: 20px;
    background-color: transparent;
}

.back-btn {
    @include flex(row, flex-start, center);
    flex: 1;
}

.back-img {
    width: 52px;
    height: 52px;
}

.title-con {
    @include flex(row, center, center);
    flex: 1;
    height: 100%;
}

.title-txt {
    @include font(34px, #FFFFFF);
    font-weight: 700;
    line-height: 88px;
}

.handle-con {
    @include flex(row, flex-end, center);
    flex: 1;
    height: 100%;
}

.handle-btn {
    @include flex(row, flex-end, center);
    flex: 1;
}

.handle-img {
    margin-right: 20px;
    width: 52px;
    height: 52px;
}
