@mixin flex($direction: row, $rowAlign: flex-start, $colAlign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $rowAlign;
    align-items: $colAlign;
}

@mixin font($fontSize: 24px, $color: #000, $fontFamily: 'PingFangSC-Light') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
    // line-height: $fontSize;
}

@mixin container($width, $height, $borderRadius: 0) {
    width: $width;
    height: $height;
    border-radius: $borderRadius;
}

.price {
    width: 181px;
    height: 64px;
    border-radius: 32px;
    background-color: #F4F6FB;
    text-align: center;
    padding: 0 32px;
    @include font(26px, #333840, 'PingFangSC-Semibold');
    &-placeholder {
        @include font(26px, #989CA5, 'PingFangSC-Regular');
        text-align: center;
    }
}