@mixin flex($direction: row, $rowAlign: flex-start, $colAlign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $rowAlign;
    align-items: $colAlign;
    flex-wrap: wrap;
}

@mixin font($fontSize: 24px, $color: #000, $fontFamily: 'PingFangSC-Light') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
    // line-height: $fontSize;
}

@mixin container($width, $height, $borderRadius: 0) {
    width: $width;
    height: $height;
    border-radius: $borderRadius;
}

.hot {
    margin-top: 40px;
    padding: 10px 10px 10px 30px;
    &-header {
        @include flex(row, flex-start, center);
        margin-bottom: 10px;
        &-text {
            @include font(32px, #333840, 'PingFangSC-Semibold');
        }

        &-img {
            margin-left: 10px;
            @include container(32px, 32px);
        }
    }

    &-content {
        @include flex(row, flex-start, center);
    }
}