@mixin flex($direction: row, $rowAlign: flex-start, $colAlign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $rowAlign;
    align-items: $colAlign;
}

@mixin font($fontSize: 24px, $color: #000, $fontFamily: 'PingFangSC-Light') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
}

.wonderful-venue {
    padding: 30px;

    &-maincard {
        margin-top: 40px;
        padding-left: 44px;
        // padding-top: 48px;
        height: 260px;
        border-radius: 16px;
        background-color: #A0C8F0;
        /*  #ifndef rn  */
        line-height: normal;
        /*  #endif  */

        &-title {
            @include font(32px, #fff, 'PingFangSC-Semibold')
        }

        &-title-container {
            padding-top: 48px;
        }

        &-subtitle {
            @include font(26px, #fff, 'PingFangSC-Regular')
        }

        &-btn {
            @include flex(row, center, center);
            width: 98px;
            height: 40px;
            background-color: #80ADDD;
            border-radius: 40px;
            margin-top: 32px;
            &-txt {
                @include font(22px, #fff, 'PingFangSC-Regular');
            }
        }
    }

    &-subcard {
        margin-top: 16px;
        @include flex(row, space-between, flex-start);
    }
}