@mixin flex($direction: row, $rowAlign: flex-start, $colAlign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $rowAlign;
    align-items: $colAlign;
}

@mixin font($fontSize: 24px, $color: #000, $fontFamily: 'PingFangSC-Light') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
    // line-height: $fontSize;
}

@mixin container($width, $height, $borderRadius: 0) {
    width: $width;
    height: $height;
    border-radius: $borderRadius;
}

.border {
    border-width: 1px;
    border-color: #E3E8EE;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;;
}

.search-list-item {
    @include flex(row, flex-start, center);
    height: 100px;
    @extend .border;

    &-text {
        @include font(30px, #151A1C, 'PingFangSC-Regular');
    }

    &-highlight {
        color: #4381E5;
    }

    &-first {
        height: 100px;
        @include flex(row, flex-start, center);
        @extend .border;
        &-img {
            @include container(30px, 28px);
        }

        &-text {
            margin-left: 20px;
        }
    }
}