@mixin flex($direction: row, $rowAlign: flex-start, $colAlign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $rowAlign;
    align-items: $colAlign;
}

@mixin font($fontSize: 24px, $color: #000, $fontFamily: 'PingFangSC-Light') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
    // line-height: $fontSize;
}

@mixin padding($top:0, $right: 0, $bottom: 0, $left: 0) {
    padding-left: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.basecard {
    width: 307px;
    height: 260px;
    background-color: #F7F8FB;
    border-radius: 16px;
    padding-left: 30px;

    /*  #ifdef  rn  */

    width: 337px;
    
    /*  #endif  */

    &-title {
        &-container {
            padding-top: 30px;
            @include flex(row, flex-start, flex-end)
        }

        &-txt {
            @include font(32px, #333840, 'PingFangSC-Semibold');
            /*  #ifndef  rn */
            line-height: 32px;
            /*  #endif  */

            /*  #ifdef  rn  */
            margin-top: -8px;
            /*  #endif  */
        }
    }

    &-desc {
        &-container {
            margin-top: 16px;
            @include flex(row, flex-start, flex-end)
        }
        &-txt {
            @include font(24px, #989CA5, 'PingFangSC-Regular');
            /*  #ifndef  rn */
            line-height: 24px;
            /*  #endif  */

            /*  #ifdef  rn  */
            margin-top: -14px;
            /*  #endif  */
        }
        
    }

    &-footer {
        @include flex(row, flex-start, flex-start);
        &-container {
            flex: 1;
            @include flex(column, flex-start, flex-start);
            
            &-container {
                margin-top: 20px;
                width: 62px;
                height: 32px;
                border-radius: 32px;
                background-color: #4381E5;
                @include flex(row, center, center)
            }
            &-txt {
                @include font(22px, #fff, 'PingFangSC-Semibold');
            }

            &-icon {
                margin-left: 4px;
            }
    

            &-img {
                width: 174px;
                height: 156px;
                overflow: hidden;
            }
        }
    }
}