@import "@/global/common.scss";

.customer-head-right {
    @include flex(row, flex-end, center);
    flex: 1;
    height: 100%;
}

.head-right-btn-con {
    @include flex(row, flex-end, center);
    width: 120px;
    height: 88px;
    padding-right: 30px;
    background-color: transparent;
}

.head-right-btn {
    width: 44px;
    height: 6px;
}