@import "~taro-ui/dist/style/index.scss";

/*
* 修改组件的全局样式
*/
.at-drawer__content {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.at-drawer__mask {
    background-color: rgba(51,56,64,0.70);
}