.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home {
    flex-direction: column;
    display: flex;
    width: 100%;
    flex:1;

    &-list {
        background-color: #fff;
        padding: 64px 30px 0 30px;
    }
}

.nav {
    // height: 430px;
    background-color: #8EA7E1;
}


.header {
    @extend .flex-row-center;
    padding-left: 30px;
    height: 88px;
    /* position: absolute;
    top: 0;
    left: 0; */
}

.swipper-item {
    @extend .flex-row-center;
    justify-content: center;
    height: 430px;
}

.swipper-container {
    height: 430px;
}
