$titleColor: #333840;
$descColor:  #989CA5;
$moreColor: #989CA5;

@mixin flex($direction: row, $rowAlign: flex-start, $colAlign: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $rowAlign;
    align-items: $colAlign;
}

@mixin font($fontSize: 24px, $color: #000, $fontFamily: 'PingFangSC-Light') {
    font-size: $fontSize;
    color: $color;
    font-family: $fontFamily;
}

@mixin padding($top:0, $right: 0, $bottom: 0, $left: 0) {
    padding-left: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.title {

    @include flex(row, flex-start, center);
    font-family: 'PingFangSC-Semibold';

    &-title {
        &-container {
            @include flex(row, flex-start, flex-end);
            // background-color: red;
            margin-right: 8px;
        }
        &-text {
            @include font(40px, $titleColor, 'PingFangSC-Semibold');
        }
    }
    
    
    &-desc {
        &-container {
            flex: 1;
            // background-color: lawngreen;
        }
        &-text {
            @include font(26px, $descColor, 'PingFangSC-Light');
        }
    }

    &-more {
        &-container {
            @include flex();
            // background-color: burlywood;
        }

        &-text {
            @include font(24px, $moreColor, 'PingFangSC-Light');
            margin-right: 12px;
        }

        &-image {
            width: 6px;
            height: 12px;
        }
    }
}