.vStyleA {
    height: 150px;
    background-color: rgb(26, 173, 25);
}
.vStyleB {
    height: 150px;
    background-color: rgb(39,130,215);
}
.vStyleC {
    height: 150px;
    background-color: rgb(241,241,241);
}

.scrollview {
    height: 1200px;
    margin-top: 20px;
}

.test-footer {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.test-com-btn {
    flex: 1;
    border: none;
}

.test-com-btn::after {
    content: none
}

.test-modal {
    display: flex;
}
