@import "@/global/common.scss";

.container {
    display: flex;
    height: 100%;
    background-color: #F8F8F8;
}

.goods-head-right {
    @include flex(row, flex-end, center);
    flex: 1;
    height: 100%;
}

.head-right-btn-con {
    @include flex(row, flex-end, center);
    width: 120px;
    height: 88px;
    padding-right: 27px;
    background-color: transparent;
}

.head-right-btn {
    width: 48px;
    height: 48px;
}

.list-box {
    @include flex(row, flex-start, flex-start);
    flex: 1;
}

.list-box-menus {
    width: 162px;
    margin-right: 4px;
    min-height: 80px;
    background-color: #FFFFFF;
}


.list-box-content {
    flex: 1;
    background-color: #FFFFFF;
}

.list-item-box {
    border-bottom-width: 1px;
    border-bottom-color: #F7F8FB;
    background-color: #FFFFFF;
}

.list-item {
    @include flex(row, center, flex-start);
    padding: 45px 28px 21px 21px;
}

.list-image-box {
    @include flex(row, center, center);
    width: 160px;
    height: 160px;
    border-radius: 12px;
    margin-right: 19px;
    background-color: rgba(247, 248, 251, 1);
    overflow: hidden;
}

.item-image {
    // width: 198px;
    width: 160px;
    height: 160px;
}



.content-box {
    flex: 1
}

.item-title {
    @include font(28px, #333840);
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 12px;
}

.item-row {
    @include flex(row, flex-start, flex-start);
    margin-bottom: 14px;
}

.factory-icon {
    width: 28px;
    height: 28px;
    background-color: #D9E6FA;
    border-color: #4281E5;
    border-width: 1px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-right: 10px;
    @include flex(row, center, center);
}

.factory-icon-txt {
    @include font(16px, #4381E5);
}

.factory-name {
    @include font(22px, #5F5F6B);
}

.factory-valid-time {
    @include font(20px, #989CA5);
    text-align: left;
}

.item-row-vertical-line {
    width: 1px;
    height: 11px;
    margin: 0 13px;
    align-self: center;
    background-color: #E3E8EE;
}

.factory-medical-spec-con {
    width: 140px;
}

.factory-medical-spec {
    @include font(20px, #989CA5);
    text-align: left;
}

.factory-price-unit {
    @include font(20px, #F2270C);
}

.factory-price {
    @include font(20px, #F2270C);
}

.factory-sale30 {
    @include font(20px, #333840);
    margin-left: 10px;
}

.factory-shop-name {
    @include font(20px, #989CA5);
}

.item-dec {
    @include flex(row, space-between, center);
    margin-top: 26px;
}

.item-dec-btn-1 {
    @include flex(column, center, center);
    width: 162px;
    height: 44px;
    border-width: 2px;
    border-color: #8C8C8C;
    border-radius: 22px;
}

.item-dec-btn-txt-1 {
    @include font(20px, #262626);
}

.item-dec-btn-2 {
    width: 162px;
    height: 44px;
}

.item-dec-btn-txt-2 {
    @include font(20px, #FFFFFF);
}

.item-division {
    height: 1px;
    flex: 1;
    background-color: #f5f5f5;
    margin-left: 29px;
}

.item-image-none {
    @include flex(column, center, center);
    height: 100%;
    padding-top: 100px;
}

.item-image-none-icon {
    width: 240px;
    height: 171px;
}

.item-image-none-txt {
    @include font(29px, #999999);
    text-align: center;
    margin-top: 30px;
}

.purchaseRelation-list-none {
    @include font(20px, #999999);
    text-align: center;
    margin-top: 12px;
    line-height: 30px;
}

.goto-top {
    right: 20px;
    position: absolute;
    width: 80px;
    height: 80px;
    top: -120px;
    opacity: 0.8;
}

.goto-top-icon {
    width: 80px;
    height: 80px;
}
